<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/site.css">
    <script defer src="~/js/site.js"></script>

</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
