<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/site.css">
    <script defer src="~/js/site.js"></script>

</head>
<header class="header">
    <div class="header_content content">
        <div class="header_logo"></div>
        <nav class="header__menu menu">
            <div class="menu__items">
                <div class="menu__item">
                    <a href="" class="menu__link"></a>
                </div>
                <div class="menu__item">
                    <a href="" class="menu__link"></a>
                </div>
                <div class="menu__item">
                    <a href="" class="menu__link"></a>
                </div>
                <div class="menu__item">
                    <a href="" class="menu__link"></a>
                </div>
            </div>
        </nav>
    </div>
</header>

<body>
    <div class="content">
        @RenderBody()
    </div>
</body>

</html>
