@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication5.Models.Game
@{
    Layout = "_Layout";
}

<div class="main__container game_cont">

    <div class="main__container game_cont">

        <div class="content__colm_first">
            <div class="first__img">
                <img src="/wwwroot/img/1/1.jpg" alt="Product">
            </div>
        </div>
        <div class="content__colm_two info">
            <div class="info__name">Mango</div>
            <div class="info_price_buy">
                <div class="price">
                    5 $
                </div>
                <a class="buy_button" href="#">
                    Купити
                </a>
            </div>
            <div class="short_inf">
                <div class="inf__studia inf_g">
                    <div class="left_inf">Компанія:</div>
                    <div class="right_inf">000000</div>
                </div>
                <div class="inf__studia inf_g">
                    <div class="left_inf">Кількість: </div>
                    <div class="right_inf">aaaaaaaaaaa</div>
                </div>

            </div>
        </div>
        <div class="desc">
            <div class="desc_head">
                Загальна інформація про -----------
            </div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis esse doloribus quia, eligendi
            exercitationem sed animi tempore optio. Voluptates quaerat reprehenderit minus assumenda quibusdam
            debitis sapiente, impedit expedita adipisci harum.
        </div>
    </div>
