<!DOCTYPE html>
<html>

<head>
    <title>"Game"</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,700,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:regular,500,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="/wwwroot/css/style.css">
    <link
        href="https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round:regular" rel="stylesheet" />

</head>

<body class="page__body">
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div class="header__logo">
                    <a href="#">Streif</a>
                </div>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <il class="menu__item">
                            <a href="" class="menu__link">Крамниця</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Категорії</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Профіль</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Адмін</a>
                        </il>

                    </ul>
                    <div class="menu__serch">

                    </div>
                    <div class="button_dark button">
                        <a href="" class="button button_log">LogIn</a>
                    </div>
                </nav>

            </div>
        </header>
        <main class="main">
            <div class="main__container game_cont">

                <div class="content__colm_first">
                    <div class="first__img">
                        <img src="/wwwroot/img/1/1.jpg" alt="Product">
                    </div>
                </div>
                <div class="content__colm_two info">
                    <div class="info__name">Mango</div>
                    <div class="info_price_buy">
                        <div class="price">
                            5 $
                        </div>
                        <a class="buy_button" href="#">
                            Купить
                        </a>
                    </div>
                    <div class="short_inf">
                        <div class="inf__studia inf_g">
                            <div class="left_inf">Ціна: </div>
                            <div class="right_inf">000000</div>
                        </div>
                        <div class="inf__studia inf_g">
                            <div class="left_inf">Розробник: </div>
                            <div class="right_inf">aaaaaaaaaaa</div>
                        </div>
                        <div class="inf__date inf_g">
                            <div class="left_inf">Дата виходу: </div>
                            <div class="right_inf">
                                aaaaaaaaaaaaaaaaa
                            </div>
                        </div>
                        <div class="inf__platform inf_g">
                            <div class="left_inf">Платформа:</div>
                            <div class="right_inf">
                                Win
                            </div>
                        </div>

                    </div>
                </div>
                <div class="desc">
                    <div class="desc_head">
                        Lorem ipsum dolor sit amet.
                    </div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis esse doloribus quia, eligendi
                    exercitationem sed animi tempore optio. Voluptates quaerat reprehenderit minus assumenda quibusdam
                    debitis sapiente, impedit expedita adipisci harum.
                </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer-copyright">
                    <div>Fresh-Fruit © 2022</div>
                    <div class=footer__cards>
                        <img src="" style="height: 40px;">
                        <img src="" style="height: 22px;margin-left: 5px;">
                    </div>
                </div>
                <div class="footer-text">
                    <p>Всі права захищені.</p>
                </div>
            </div>

        </footer>
    </div>
</body>

</html>