<head>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // инициализация слайдера
            new ItcSimpleSlider('.itcss', {
                loop: true,
                autoplay: true,
                interval: 5000,
                swipe: true,
            });
        });
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,700,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:regular,500,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round:regular" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/slider.css">
    <script defer src="~/js/slider.js"></script>
    
    <title>@ViewBag.Title</title>

</head>

<!DOCTYPE html>
<html>

<body class="page__body">
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div style="border-radius: 10px;" class="header__logo">
                    <a href="/Home">
                        <svg width="35" height="55" viewBox="0 0 35 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.0582465 18.0156C0.0681464 13.5875 3.66587 10.0058 8.09398 10.0157L26.134 10.0561C30.5621 10.066 34.1438 13.6637 34.1339 18.0918L34.0936 36.1319C34.0837 40.56 30.486 44.1416 26.0579 44.1317L8.01779 44.0914C3.58968 44.0815 0.00801461 40.4838 0.0179145 36.0557L0.0582465 18.0156Z" fill="#FF2773" />
                            <path d="M12.0417 38C11.8217 38 11.6417 37.93 11.5017 37.79C11.3617 37.65 11.2917 37.47 11.2917 37.25V17.75C11.2917 17.53 11.3617 17.35 11.5017 17.21C11.6417 17.07 11.8217 17 12.0417 17H25.8117C26.0317 17 26.2117 17.07 26.3517 17.21C26.5117 17.35 26.5917 17.53 26.5917 17.75V20.78C26.5917 21 26.5117 21.18 26.3517 21.32C26.2117 21.46 26.0317 21.53 25.8117 21.53H16.5717V25.94H25.2117C25.4317 25.94 25.6117 26.02 25.7517 26.18C25.9117 26.32 25.9917 26.5 25.9917 26.72V29.72C25.9917 29.92 25.9117 30.1 25.7517 30.26C25.6117 30.4 25.4317 30.47 25.2117 30.47H16.5717V37.25C16.5717 37.47 16.5017 37.65 16.3617 37.79C16.2217 37.93 16.0417 38 15.8217 38H12.0417Z" fill="#FF9DC5" />
                            <path d="M9.85122 38C9.63122 38 9.45122 37.93 9.31122 37.79C9.17122 37.65 9.10122 37.47 9.10122 37.25V17.75C9.10122 17.53 9.17122 17.35 9.31122 17.21C9.45122 17.07 9.63122 17 9.85122 17H23.6212C23.8412 17 24.0212 17.07 24.1612 17.21C24.3212 17.35 24.4012 17.53 24.4012 17.75V20.78C24.4012 21 24.3212 21.18 24.1612 21.32C24.0212 21.46 23.8412 21.53 23.6212 21.53H14.3812V25.94H23.0212C23.2412 25.94 23.4212 26.02 23.5612 26.18C23.7212 26.32 23.8012 26.5 23.8012 26.72V29.72C23.8012 29.92 23.7212 30.1 23.5612 30.26C23.4212 30.4 23.2412 30.47 23.0212 30.47H14.3812V37.25C14.3812 37.47 14.3112 37.65 14.1712 37.79C14.0312 37.93 13.8512 38 13.6312 38H9.85122Z" fill="white" />
                        </svg>

                    </a>
                </div>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <il class="menu__item">
                            <a href="/Home" style="color:#2B1E70;" class="menu__link">Крамниця</a>
                        </il>
                        <il class="menu__item">
                            <a href="" style="color:#2B1E70;" class="menu__link">Категорії</a>
                        </il>
                        <il class="menu__item">
                            <a href="" style="color:#2B1E70;" class="menu__link">Профіль</a>
                        </il>
                        <il class="menu__item">
                            <a href="" style="color:#2B1E70;" class="menu__link">Адмін</a>
                        </il>

                    </ul>
                    <div class="menu__serch">
                        <svg width=100% height="36" viewBox="0 0 409 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="408" height="35" rx="17.5" fill="white" />
                            <path d="M21.1538 22.14C19.9685 22.14 18.8578 21.916 17.8218 21.468C17.7098 21.4213 17.6165 21.3467 17.5418 21.244C17.4672 21.132 17.4298 21.0153 17.4298 20.894C17.4298 20.7353 17.4812 20.6 17.5838 20.488C17.6958 20.3667 17.8358 20.306 18.0038 20.306C18.0972 20.306 18.1858 20.3247 18.2698 20.362C19.1285 20.7447 20.0478 20.936 21.0278 20.936C22.6612 20.936 23.4778 20.3993 23.4778 19.326C23.4778 19.046 23.3705 18.8127 23.1558 18.626C22.9505 18.4393 22.6938 18.2947 22.3858 18.192C22.0778 18.08 21.6392 17.9493 21.0698 17.8C20.3138 17.604 19.7025 17.4173 19.2358 17.24C18.7692 17.0533 18.3678 16.778 18.0318 16.414C17.6958 16.05 17.5278 15.5647 17.5278 14.958C17.5278 14.426 17.6678 13.9453 17.9478 13.516C18.2278 13.0773 18.6385 12.732 19.1798 12.48C19.7305 12.2187 20.3885 12.088 21.1538 12.088C22.1805 12.088 23.1092 12.242 23.9398 12.55C24.2012 12.6433 24.3318 12.83 24.3318 13.11C24.3318 13.2593 24.2805 13.3947 24.1778 13.516C24.0752 13.6373 23.9398 13.698 23.7718 13.698C23.7158 13.698 23.6412 13.6793 23.5478 13.642C22.8198 13.39 22.0685 13.264 21.2938 13.264C20.5565 13.264 19.9545 13.404 19.4878 13.684C19.0305 13.964 18.8018 14.356 18.8018 14.86C18.8018 15.196 18.9092 15.4713 19.1238 15.686C19.3478 15.8913 19.6232 16.0547 19.9498 16.176C20.2858 16.288 20.7385 16.4093 21.3078 16.54C22.0452 16.7173 22.6378 16.8947 23.0858 17.072C23.5432 17.2493 23.9305 17.5247 24.2478 17.898C24.5745 18.2713 24.7378 18.7753 24.7378 19.41C24.7378 19.9327 24.5885 20.404 24.2898 20.824C23.9912 21.2347 23.5712 21.5567 23.0298 21.79C22.4885 22.0233 21.8632 22.14 21.1538 22.14ZM29.6408 22.14C28.5021 22.14 27.6108 21.818 26.9668 21.174C26.3321 20.5207 26.0148 19.606 26.0148 18.43C26.0148 17.7673 26.1361 17.156 26.3788 16.596C26.6214 16.036 26.9948 15.5833 27.4988 15.238C28.0028 14.8927 28.6234 14.72 29.3608 14.72C30.0514 14.72 30.6488 14.8833 31.1528 15.21C31.6568 15.5273 32.0394 15.9567 32.3008 16.498C32.5621 17.03 32.6928 17.6133 32.6928 18.248C32.6928 18.4253 32.6321 18.5747 32.5108 18.696C32.3988 18.8173 32.2448 18.878 32.0488 18.878H27.3028C27.3774 19.5313 27.6201 20.04 28.0308 20.404C28.4414 20.768 29.0154 20.95 29.7528 20.95C30.1448 20.95 30.4854 20.9127 30.7748 20.838C31.0734 20.7633 31.3628 20.656 31.6428 20.516C31.7174 20.4787 31.8014 20.46 31.8948 20.46C32.0441 20.46 32.1748 20.5113 32.2868 20.614C32.3988 20.7167 32.4548 20.8473 32.4548 21.006C32.4548 21.2113 32.3334 21.384 32.0908 21.524C31.7268 21.7293 31.3674 21.8833 31.0128 21.986C30.6581 22.0887 30.2008 22.14 29.6408 22.14ZM31.4328 17.842C31.4048 17.3847 31.2834 17.002 31.0688 16.694C30.8634 16.386 30.6068 16.162 30.2988 16.022C29.9908 15.8727 29.6781 15.798 29.3608 15.798C29.0434 15.798 28.7308 15.8727 28.4228 16.022C28.1148 16.162 27.8581 16.386 27.6528 16.694C27.4474 17.002 27.3308 17.3847 27.3028 17.842H31.4328ZM36.1985 22.14C35.7878 22.14 35.4051 22.056 35.0505 21.888C34.7051 21.72 34.4298 21.4773 34.2245 21.16C34.0191 20.8333 33.9165 20.46 33.9165 20.04C33.9165 19.3493 34.1871 18.7987 34.7285 18.388C35.2791 17.9773 36.0818 17.772 37.1365 17.772H38.8305V17.66C38.8305 17.044 38.6765 16.6007 38.3685 16.33C38.0698 16.0593 37.5985 15.924 36.9545 15.924C36.5998 15.924 36.2825 15.952 36.0025 16.008C35.7318 16.064 35.4285 16.148 35.0925 16.26C35.0178 16.2787 34.9571 16.288 34.9105 16.288C34.7705 16.288 34.6491 16.2367 34.5465 16.134C34.4438 16.0313 34.3925 15.9053 34.3925 15.756C34.3925 15.504 34.5138 15.3267 34.7565 15.224C35.5498 14.888 36.3571 14.72 37.1785 14.72C37.8225 14.72 38.3638 14.8507 38.8025 15.112C39.2505 15.3733 39.5771 15.714 39.7825 16.134C39.9971 16.5447 40.1045 16.9927 40.1045 17.478V21.44C40.1045 21.6173 40.0391 21.7667 39.9085 21.888C39.7871 22.0093 39.6378 22.07 39.4605 22.07C39.2831 22.07 39.1338 22.0093 39.0125 21.888C38.8911 21.7667 38.8305 21.6173 38.8305 21.44V21.076C38.1398 21.7853 37.2625 22.14 36.1985 22.14ZM36.6745 21.02C37.0851 21.02 37.4818 20.922 37.8645 20.726C38.2471 20.5207 38.5691 20.2687 38.8305 19.97V18.794H37.3045C35.8951 18.794 35.1905 19.1627 35.1905 19.9C35.1905 20.236 35.3025 20.5067 35.5265 20.712C35.7598 20.9173 36.1425 21.02 36.6745 21.02ZM42.8698 22.07C42.6925 22.07 42.5431 22.0093 42.4218 21.888C42.3005 21.7667 42.2398 21.6173 42.2398 21.44V15.434C42.2398 15.2567 42.3005 15.1073 42.4218 14.986C42.5431 14.8553 42.6925 14.79 42.8698 14.79C43.0471 14.79 43.1965 14.8553 43.3178 14.986C43.4485 15.1073 43.5138 15.2567 43.5138 15.434V16.036C44.1671 15.1587 44.8998 14.72 45.7118 14.72H45.7818C45.9591 14.72 46.1038 14.7807 46.2158 14.902C46.3371 15.0233 46.3978 15.1727 46.3978 15.35C46.3978 15.5273 46.3371 15.672 46.2158 15.784C46.0945 15.896 45.9405 15.952 45.7538 15.952H45.6838C45.2358 15.952 44.8251 16.064 44.4518 16.288C44.0785 16.5027 43.7658 16.8013 43.5138 17.184V21.44C43.5138 21.6173 43.4485 21.7667 43.3178 21.888C43.1965 22.0093 43.0471 22.07 42.8698 22.07ZM50.6981 22.14C50.0261 22.14 49.4054 21.9907 48.8361 21.692C48.2668 21.3933 47.8094 20.964 47.4641 20.404C47.1281 19.844 46.9601 19.186 46.9601 18.43C46.9601 17.674 47.1281 17.016 47.4641 16.456C47.8094 15.896 48.2668 15.4667 48.8361 15.168C49.4054 14.8693 50.0261 14.72 50.6981 14.72C51.1928 14.72 51.6174 14.7853 51.9721 14.916C52.3361 15.0373 52.6721 15.196 52.9801 15.392C53.1668 15.5133 53.2601 15.6767 53.2601 15.882C53.2601 16.022 53.2041 16.1527 53.0921 16.274C52.9894 16.386 52.8681 16.442 52.7281 16.442C52.6254 16.442 52.5228 16.414 52.4201 16.358C52.1121 16.1993 51.8461 16.0873 51.6221 16.022C51.4074 15.9473 51.1368 15.91 50.8101 15.91C50.0074 15.91 49.3774 16.1433 48.9201 16.61C48.4628 17.0673 48.2341 17.674 48.2341 18.43C48.2341 19.186 48.4628 19.7973 48.9201 20.264C49.3774 20.7213 50.0074 20.95 50.8101 20.95C51.1368 20.95 51.4074 20.9173 51.6221 20.852C51.8461 20.7773 52.1121 20.6607 52.4201 20.502C52.5228 20.446 52.6254 20.418 52.7281 20.418C52.8681 20.418 52.9894 20.4787 53.0921 20.6C53.2041 20.712 53.2601 20.838 53.2601 20.978C53.2601 21.1833 53.1668 21.3467 52.9801 21.468C52.6721 21.664 52.3361 21.8273 51.9721 21.958C51.6174 22.0793 51.1928 22.14 50.6981 22.14ZM55.4889 22.07C55.3116 22.07 55.1623 22.0093 55.0409 21.888C54.9196 21.7667 54.8589 21.6173 54.8589 21.44V12.354C54.8589 12.1767 54.9196 12.0273 55.0409 11.906C55.1623 11.7753 55.3116 11.71 55.4889 11.71C55.6663 11.71 55.8156 11.7753 55.9369 11.906C56.0676 12.0273 56.1329 12.1767 56.1329 12.354V16.008C56.4876 15.616 56.8703 15.3033 57.2809 15.07C57.6916 14.8367 58.1769 14.72 58.7369 14.72C59.2503 14.72 59.6936 14.8413 60.0669 15.084C60.4496 15.3267 60.7389 15.658 60.9349 16.078C61.1403 16.498 61.2429 16.96 61.2429 17.464V21.44C61.2429 21.6173 61.1776 21.7667 61.0469 21.888C60.9256 22.0093 60.7763 22.07 60.5989 22.07C60.4216 22.07 60.2723 22.0093 60.1509 21.888C60.0296 21.7667 59.9689 21.6173 59.9689 21.44V17.604C59.9689 16.4653 59.4556 15.896 58.4289 15.896C57.9623 15.896 57.5423 16.0173 57.1689 16.26C56.8049 16.5027 56.4596 16.8293 56.1329 17.24V21.44C56.1329 21.6173 56.0676 21.7667 55.9369 21.888C55.8156 22.0093 55.6663 22.07 55.4889 22.07Z" fill="#2B1E70" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M380.333 17.1667C380.333 13.945 382.945 11.3333 386.167 11.3333C389.388 11.3333 392 13.945 392 17.1667C392 18.7383 391.378 20.1647 390.368 21.2136C390.339 21.2356 390.312 21.2596 390.286 21.2857C390.26 21.3119 390.236 21.3393 390.214 21.3678C389.165 22.3785 387.738 23 386.167 23C382.945 23 380.333 20.3883 380.333 17.1667ZM390.848 23.0266C389.565 24.0529 387.937 24.6667 386.167 24.6667C382.024 24.6667 378.667 21.3088 378.667 17.1667C378.667 13.0245 382.024 9.66666 386.167 9.66666C390.309 9.66666 393.667 13.0245 393.667 17.1667C393.667 18.9375 393.053 20.565 392.027 21.8481L395.089 24.9107C395.415 25.2362 395.415 25.7638 395.089 26.0892C394.764 26.4147 394.236 26.4147 393.911 26.0892L390.848 23.0266Z" fill="#190134" />
                            <rect x="0.5" y="0.5" width="408" height="35" rx="17.5" stroke="#EAEAEA" />
                        </svg>

                    </div>
                    <div class="button_dark button">
                        <a href="" class="button button_log">LogIn</a>
                    </div>
                </nav>

            </div>
        </header>
        <main class="main">
            <div class="main__container">
        @RenderBody()
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer-copyright">
                    <div>Streif © 2013-2022</div>
                    <div class=footer__cards>
                        <img src="" style="height: 40px;">
                        <img src="" style="height: 22px;margin-left: 5px;">
                    </div>
                </div>
                <div class="footer-text">
                    <p>
                        Всі права захищені. Копіювання будь-яких матеріалів сайту заборонено! Усі назви продуктів та
                        ігор, компаній та марок,
                        логотипи, товарні знаки та інші матеріали є власністю відповідних власників. Лише ліцензійні
                        ключі до всіх ігрових
                        платформ: Steam, Uplay, Battle.net, Origin та інші. Вигідно, надійно та швидко!
                    </p>
                </div>
            </div>
    
    </footer>
    </div>
</body>

</html>

